<!DOCTYPE html>
<html lang="en">
<head>
   	<% include ./base/head %>
</head>
<body>
	<% include ./base/header %> 
  	<main>
        <div class="parallax-container">
            <div class="parallax "><img src="images/lab6.jpg"></div>
        </div>
        <div class="section white">
            <div class="row container container-mid">
                <h2 class="header">O Espaço</h2>
                <div class="grey-text text-darken-3 lighten-3">
                        <% include ./laboratorio_text/espaco %>
                </div>
            </div>
        </div>
        <div class="parallax-container" style="height: 450px">
            <div class="parallax "><img src="images/IMG_0319b.jpg"></div>
        </div>
        <div class="section white">
            <div class="row container container-mid">
                <h2 class="header">A Equipe</h2>
                <br><br>
                <h5>Administração</h5>
                <% for(var i =0; i < JSON.parse(admin).length; i++) { %>
                    <div class="col s12 m4">  
                        <div class="card  card card-panel grey lighten-5 z-depth-1" style="padding: 10px;">
                            <div class="row valign-wrapper ">
                                <div class="col s4">
                                    <img src="<%= JSON.parse(admin)[i].imagem%>" style="max-height: 70px" class="circle responsive-img"> <!-- notice the "circle" class -->
                                </div>
                                <div class="col s8">
                                    <h7><b><%= JSON.parse(admin)[i].nome%></b></h7><br>
                                    <h7><%= JSON.parse(admin)[i].cargo%></h7>
                                </div>
                            </div>
                            <div class="card-action"> 
                                <div class="row " style="    margin-bottom: 0px;">
                                    <div class="col  right s1" >
                                        <a  title="Ramal: <%= JSON.parse(admin)[i].telefone%>">
                                            <i class="material-icons">call</i>
                                        </a>
                                    </div>
                                    <div class="col right s1" >
                                        <a title="email:<%= JSON.parse(admin)[i].email%>" href="mailto:<%= JSON.parse(admin)[i].email%>" >
                                            <i class="material-icons">email</i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
        <div class="section white">
            <div class="row container container-mid">
                
                <h5>Coordenação</h5>
                <% for(var i =0; i < JSON.parse(coordenacao).length; i++) { %>
                    <div class="col s12 m4">                   
                        <div class="card  card card-panel grey lighten-5 z-depth-1" style="padding: 10px;">
                            <div class="row valign-wrapper ">
                                <div class="col s4">
                                    <img src="<%= JSON.parse(coordenacao)[i].imagem%>" style="max-height: 70px" class="circle responsive-img"> 
                                </div>
                                <div class="col s8">
                                    <h7><b><%= JSON.parse(coordenacao)[i].nome%></b></h7><br>
                                    <h7><%= JSON.parse(coordenacao)[i].cargo%></h7><br>
                                    <h7><%= JSON.parse(coordenacao)[i].grupo%></h7>
                                </div>
                            </div>
                            <div class="card-action"> 
                                <div class="row " style="margin-bottom: 0px;">
                                    <div class="col  right s1" >
                                        <a  title="Ramal: <%= JSON.parse(coordenacao)[i].telefone%>">
                                            <i class="material-icons">call</i>
                                        </a>
                                    </div>
                                    <div class="col right s1" >
                                        <a title="email:<%= JSON.parse(coordenacao)[i].email%>" href="mailto:<%= JSON.parse(coordenacao)[i].email%>" >
                                            <i class="material-icons">email</i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>

        <div class="section white">
            <div class="row container container-mid">
                <h5>Desenvolvimento</h5>
                <div class="cards">
                    <% for(var i =0; i < JSON.parse(desenvolvimento).length; i++) { %>
                        <div class="col s12 m4">  
                            <div class="card  card card-panel grey lighten-5 z-depth-1" style="padding: 10px;">
                                <div class="row valign-wrapper ">
                                    <div class="col s4">
                                        <img src="<%= JSON.parse(desenvolvimento)[i].imagem%>" style="max-height: 70px" class="circle responsive-img"> <!-- notice the "circle" class -->
                                    </div>
                                    <div class="col s8">
                                            <h7><b><%= JSON.parse(desenvolvimento)[i].nome%></b></h7><br>
                                            <h7><%= JSON.parse(desenvolvimento)[i].cargo%></h7><br>
                                            <h7><%= JSON.parse(desenvolvimento)[i].grupo%></h7>
                                    </div>
                                </div>
                                <div class="card-action"> 
                                    <div class="row " style="margin-bottom: 0px;">
                                        <div class="col  right s1" >
                                            <a  title="Ramal: <%= JSON.parse(desenvolvimento)[i].telefone%>">
                                                <i class="material-icons">call</i>
                                            </a>
                                        </div>
                                        <div class="col right s1" >
                                            <a title="email:<%= JSON.parse(desenvolvimento)[i].email%>" href="mailto:<%= JSON.parse(desenvolvimento)[i].email%>" >
                                                <i class="material-icons">email</i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% } %>
                </div>           
            </div>        
		</div>
	</main> 
	<% include ./base/footer %>
	<!--  Scripts-->
	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="js/materialize.js"></script>
    <script src="js/init.js"></script>
    <script src="js/jquery.matchHeight.js" type="text/javascript"></script>
   
    <script>
    
        $(function() {

            options =  {
                byRow: true,
                property: 'height',
                target: null,
                remove: false
            }
            $('.valign-wrapper').matchHeight(options);
        });
    </script>

	</body>
</html>